/*
font-family: 'Imperial Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Pushster', cursive;
font-family: 'Sacramento', cursive;
*/
html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-color: #c6c1c1;
   
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(50px, auto));
}

/*Styling the header*/
header{
    background-color: #47615f;
    grid-column: 1 / span 3;
    border-bottom: solid 1px #c6c1c1;
            
}

header .nav-section{
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
}

header .nav-section nav ul{    
    display: flex;
}
/**/
header .nav-section nav a li:hover{
    background-color: #40554b;
    color: white;
}

header .nav-section nav ul a{
    list-style: none;
    text-decoration: none; 
}

header .nav-section a li{  
    text-decoration: none; 
    padding: 1.3rem;
    font-weight: bolder;
    color: black;
    
}
header .logo{
    font-size: 2.5rem;
    font-family: 'Imperial Script', cursive;
    margin-left: 1rem;
    margin-top: 0.6rem;       
}

header .logo p{
    margin: 0.5rem;
}
header .logo p a{
    
    color: rgb(0, 0, 0);
    text-decoration: none;
}





@media only screen and (max-width: 910px){
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(50px, auto));
}
header{
    background-color: #47615f;
    grid-column: 1 / span 3;
    border-bottom: solid 1px #c6c1c1;
            
}

header .nav-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav-section nav ul{    
    display: flex;
}
/**/
header .nav-section nav a li:hover{
    background-color: #40554b;
    color: white;
}

header .nav-section nav ul a{
    list-style: none;
    text-decoration: none; 
}

header .nav-section a li{  
    text-decoration: none; 
    padding: 1.3rem;
    font-weight: bolder;
    color: black;
    
}
header .logo{
    font-size: 2.5rem;
    font-family: 'Imperial Script', cursive;
    margin-left: 1rem;
    margin-top: 0.6rem;       
}

header .logo p{
    margin: 0.5rem;
}
header .logo p a{
    
    color: rgb(0, 0, 0);
    text-decoration: none;
}
}

/*Styling the main*/
main{
    
    grid-column: 1 / span 3;
    background-color: #40554b71;
}
/*About Me Section*/
main .about-me-section{
    display: grid;
    grid-template-columns: 6fr 6fr;
    
}

.about-me-image img{
    width: 100%;
    height: 100%;
   
}

.about-me-image h1{    
    font-family: 'Pushster', cursive;
    font-size: 2rem;
    color: cornsilk;
        
}

#about-me-text{
    padding: 1rem;
    background-color: rgba(13, 39, 95, 0.788);
    color: white;
    line-height: 1.6;
}
@media only screen and (max-width: 910px){
    main .about-me-section{
        display: flex;
        flex-direction: column;
        
    }
}
/*Skill Section*/
.skill-section{
    display: flex;
    flex-direction: column;
}
.skill-section-image{
    display: flex;
    justify-content: space-evenly;
}
.skill-section-image img{
    width: 3rem;
    height: 3rem;
}
.skill-section-text h2{
    margin-top: 4rem ;
    text-align: center;
    font-family: 'Pushster', cursive;
}

/*Project Section*/
.project-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.project-section h2{
    margin-top: 4rem ;
    text-align: center;
    font-family: 'Pushster', cursive;
}

.project-section-image{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.project-section-image img{
    width: 24rem;
    height: 24rem;
    
}

.project-section p{
    text-align: center;
    font-weight: bolder;
}

@media only screen and (max-width: 910px){
    .project-section-image img{
        width: 14rem;
        height: 14rem;
        
    }
}

/*Contact Section*/
.contact-section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(50px, auto));

}

header .logo p{
    margin: 0.5rem;
}
header .logo p a{
    
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.contact-section-grid header{
    background-color: #47615fa9;
    grid-column: 1 / span 2;
    border-bottom: solid 1px #c6c1c1;
}

.contact-section-grid main{
    margin-top: 6rem;
    grid-column: 1 / span;
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    background-color: #c6c1c1;
}
/*Social Media Section*/
.social-media-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media-section p{
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}
.social-media-section img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 2rem;

}

.social-media-images{
    display: flex;
    justify-self: center;
}

#or{
    display: none;
}
@media only screen and (max-width: 910px){
    .contact-section-grid main{
        margin-top: 6rem;
        grid-column: 1 / span;
        display: flex;
        flex-direction: column;
        background-color: #c6c1c1;
        align-items: center;
    }
    form{
        width: 31rem;
        height: 25rem;
        background-color: #40554b71 ;
        border-radius: 2rem;
        text-align: center;
    }

    form h1{
        font-size: 1.5rem;
    }

    #or{
        display: block;
    }
}
/*Forms Section*/
form{
    width: 25rem;
    height: 20rem;
    background-color: #40554b71 ;
    border-radius: 2rem;
    text-align: center;
}
hr {
    width: 20%;
}
/*Styling the footer*/
footer{
    background-color: #47615fa9;
    grid-column: 1 / span 3;
    
            
}

footer .nav-section nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

footer .nav-section nav li a:hover{
    background-color: #40554b;
    color: white;
}
footer .nav-section li a{  
    text-decoration: none; 
    padding: 1.3rem;
    font-weight: bolder;
    color: black;
}